<<<<<<< HEAD
*{
    background-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    border: white;
=======
*{
    background-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    border: white;
>>>>>>> a032df3 (initial commit)
}